/* Doc Styles - Mobile First */

html, body {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;

}


/* Block Styles */
.logo {
	margin:-20px 0;
}

footer {
	padding:9rem 0;
	border-top: 16px #e8b53c solid;
	background-color:#f2f2f2;

	/*color:white;*/
}
.formField {
	margin:0 auto;
	background-color:white;
	padding:3rem;
}

.aboutMe {
	padding:.7rem 0;
	margin-top:.5rem;
	/*color:white;*/
	border-top: 16px #e8b53c solid;
	background-image:url(unskrip.jpg);

}

.navbar {
	background-color:white;
/*	border-bottom:6px double black;*/
}

#arrowMobile #arrowDesktop {
    color: #185347;
    margin-top:5rem;
    opacity: 0.7;
    margin: 5rem auto 0;
}

#arrowDesktop {
	display:none;
}

#arrowMobile {
	display: inline-block;
}

hr {
	max-width: 350px;
	margin-top:2.5rem;
	border-style:solid;
	opacity: 0.7;
}

img {
	width:100%;
	border: 1px solid ##185347;
}



/*Text Styles*/

a {
	text-decoration: none;
    /*color: white;*/
}


	.aboutMeBaby {
		background-color:#f1f1f1e8;
		padding:2.2rem .5rem 1.2rem;
		max-width:100%;
		text-align:center;
	}

	.aboutMeBaby h1 {
		margin: 2rem auto;
		font-size:3rem;
	}

.about p {
    text-align: center;
}
.about h4 {
	margin:1.1rem auto;
}
.about {
	    margin: 2rem auto;
	    padding:0 2px 10px;
}

.about h3 {
	margin:2.5rem auto 0;
}

body {
	text-align: center;
	margin:0;
}

button {
	margin:2rem;
}
.navbar-toggler {
	margin:.5rem;
}
.logoBlock {
	margin-top:.5rem;
	max-width:70%;
	float:right;
}
.greyButton {
  background-/*color: white;*/
  color: black;
  border: 2px solid #e7e7e7;
  margin-left:auto;
  margin-right:1rem;
  padding:.7rem;
  width:120px;
}

.greyButton:hover {background-color: #e7e7e7;}

.container {
	max-width: 97%;
	margin:0 auto;
}



.form {
	/*color:white;*/
	max-width:92%;
	font-size:1.2rem;
	margin:auto;

}

form {
	display:grid;
	grid-gap:15px;
	max-width:1000px;
	margin:0 auto;
}

.grid {
	display: grid;
	background-color: #e8b53c;
	background-color:#7e7e7e;
	margin:auto;
	padding-bottom:5rem;
	text-align: center;
	color:white;
}

.grid h3 {
padding:9px;
margin:1.5rem auto .5rem;
font-size:1.75rem;
}

h1 {
    font-size: 2rem;
    font-weight:700;
}
h2 {
    font-size: 1.5rem;
    font-weight: 900;
    padding:1rem;
}

h3 {
	margin:1.5rem auto;
}

.about h3 {
	font-family:'Montserrat', sans-serif;
}

.aboutMeBaby h1, h2, h3 {
	font-family: 'Major Mono Display', monospace;
}

.inquiry {
	padding:4rem;
}

input[type=text]:focus {
  border: 3px solid #555;
}

p {
    font-weight: 400;
    font-size: 1.1rem;
}

.services {
	/*color: white;*/
	padding:.4rem;
	background-color:#f2f2f2;

	
}
.skills, .servicesContent {
	padding:2rem 1rem 0;
}


.subtitle {
	font-size:1rem;
	font-weight:100;
	text-align:center;
	color:#7DACA3;
}

ul {
	list-style-type: none;
}

.work {
	font-size:.7rem;
}

.photos {
	display:grid;
	grid-template-columns: 1fr;
	justify-items:center;
	    background-color:#f1f1f1e8;
	    padding:1rem;

}

.photos img {
	opacity:1.0;
	border-radius: 50%;
    width: 250px;
    height: 250px;
}

.welcome {
	text-align:center;
	font-family:serif;
}

/* Media Query Tablet */

@media only screen and (min-width: 600px) {
.navbar-toggler {
	margin:.5rem;
}
.logoBlock {
	margin-top:.5rem;
	max-width:70%;
	float:none;
}


	#arrowMobile #arrowDesktop {
		margin-top:10rem;
	}

	.aboutMe {
		background-image: url(unskrip.jpg);
	}

		.aboutMeBaby {
		background-color:#f1f1f1e8;
		padding:2rem;
		max-width:100%;
	}

		.aboutMeBaby h1 {
		margin: 2rem auto;
		font-size:4rem;
	}

	h2 {
		font-size: 3.5rem;
		font-weight:100;
	}

	.container {
	max-width: 1350px;
	margin:0 auto;
}

.grid h3 {
	font-size:2.2rem;
}
.logo {
	max-width:400px;
	margin:1rem 0 -20px;
}
.photos {
    grid-template-columns: 1fr 200px 1fr;
    padding:5rem;
}

.photos img {
	width: 250px;
    height: 250px;
/*    opacity: 0.5;
*/    transition-duration:.3s;
}

.photos img:hover {
	opacity:1.0;
}
.skills, .servicesContent {
	padding:4rem;
}

	#arrowMobile {
		display:none;
	}

	#arrowDesktop {
		display:block;
		margin: 5rem auto 0;
	}

	.form {
		/*color:white;*/
		font-size:1.5rem;
		max-width:700px;
		margin:0 auto 8rem;
		background-color: #437369;
		border-radius:10px;
	}

	.greyButton {
		width:37%;
		border-radius:13px;
	}
	.greybutton:hover {
		background-color:grey;
		cursor:pointer;
	}

}


/* Media Query Desktop */

@media only screen and (min-width: 900px) {

	.aboutMe {
		margin: 1rem 0 0rem;
		padding:5rem;
	}


	.textArea {
		max-width: 680px;
		margin:auto;
}

	.blend {
		padding:10rem;
	}


	.grid {
		grid-template-columns:1fr 1fr;
	    padding: 4rem 0 5rem;
}

	#arrowMobile #arrowDesktop {
		margin-top:4rem;
	}

	img {
		width: 79%;
	}

	h1 {
		font-size: 9.5rem;
		text-align:left;
	}

	.services {
		padding:1rem 9rem;	
	}
	.welcome {
		margin:3rem 3rem 1rem;
	}
}